html, body {
  position:relative;
  overflow-x:hidden;
}
body{
  overflow-x: hidden;

}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Axiforma";
  src: url("../Axiforma/Axiforma-Regular.otf") format("opentype");
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Axiforma";
}
/* cabeçalho */
.agenda:visited {
  /* color: #ADEEEE; */
  color: #79C44F;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  box-shadow: none;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: transparent;
  height: 20vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 50px;
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}
/* text grid 1 */
.AgendarConosco {
  color: rgb(255, 255, 255);
  text-align: left;
  /* display: block; */
  margin-left: 11.5%;
  margin-top: 100px;
  font-size: 1.6rem;
}
.textoI{
  text-align: left;
  margin-left: 11.5%;
  margin-top: 5vh;
  width: 300px;
  font-size: 1.2rem;
}

.TelefoneC{
  display: inline-block;
  margin-left: 11%;
  margin-top: 15vh;
  width: 350px;
  font-size: 1.3rem;
}
.span_contato{
  color: rgb(255, 255, 255);
}
/* Relógios de mrcar */
.HorarioF{
    position: absolute;
    list-style: none;
    margin-top: 28vh;
    margin-left: 70%;
}

.fa-clock-o{
  display: inline-block;
 color: #B7E448;
}

.horarioT{
  margin-left: 10px;
  display: inline-block;

}
/* cel */

.iphoneB{
  background-image: url('../fotos/papel_parede.svg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:100% auto;
    background-position-x: left;
  
  border-radius: 25px;
  margin-top: 90px;
  margin-left: 44.6%;
  position: absolute;
  width:167px;
  height: 340px;
  border: 10px solid black;
}
.iphoneM{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: black;
  border-top: none;
  margin-top: 0px;
  margin-left: 39px;
  position: absolute;
  width: 80px;
  height: 1vh;
  border: 6px solid black;
}

.micT{
  background-color: gray;
  border-radius: 25px;
  margin-top: 2px;
  margin-left: 69px;
  position: absolute;
  width: 34px;
  height: 0.5vh;
  border: 1px solid gray;
}
.whatsappL {
  margin-top: 270px;
  margin-left: 60px;
  width: 57px;
  height: 57px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  display: inline-block;
  /* z-index: 1; */
}

.fa-whatsapp {
  margin-top: 13px;
}
/* grid 2 */




.equipeToda {
  display: flex;
  justify-content: space-evenly;
}

.e1 {
  width: 17%;
  height: 200px;
  border: 2px solid black;
  margin-top: 100px;
  margin-left: 1%;
}

.e2 {
  width: 17%;
  height: 200px;
  border: 2px solid black;
  margin-top: 100px;
}

.e3 {
  width: 17%;
  height: 200px;
  border: 2px solid black;
  margin-top: 100px;
}

.e4 {
  width: 17%;
  height: 200px;
  border: 2px solid black;
  margin-top: 100px;
}

.e5 {
  width: 17%;
  height: 200px;
  border: 2px solid black;
  margin-top: 100px;
}

/* grids */

.container {
  display: grid;
  background-color: #333438;
  grid-gap: 2px 2px;
  grid-template:700px/ auto;
  grid-template-areas:
    "a1 a1";
}

:root {
  --var-color: #f2f1ec;
  --var-color2: black;
}

.r1 {
  grid-area: a1;
  box-shadow: inset 0px 0px 0px 400px rgba(54, 26, 26, 0.3);
  color: rgb(248, 248, 248);
  background-image: url('../fotos/sea_view.jpeg');
  background-repeat: no-repeat;
  background-attachment:scroll;
  background-size: cover;
  background-position-x: right;
}
.r2 {
  display: none;
  grid-area: a2;
  background-color: var(--var-color);
}

/*end*/
.end {
  color: #f2f2f2;
  background-color: #333438;
  padding: 50px;
  text-align: center;
}
