html, body {
  position:relative;
  overflow-x:hidden;
}
*{
  max-width:auto;
  max-height: auto;
}
body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Axiforma";
  src: url("../Axiforma/Axiforma-Regular.otf") format("opentype");
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Axiforma";
}

/* cabeçalho */
.conta:visited {
  color: #79C44F;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
 
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: transparent;
  height: 20vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 50px;
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;

}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}
/* grid 2 */
.instruçãoC {
  color: #5C5C5C;
  font-size: 3rem;
  max-width: 450px;
  margin-top: 10vh;
  margin-left: 7%;
  text-align: left;
  position: absolute;
}
.formCo {
  margin-top: 85px;
  margin-left: 50%;
  width: 100%;
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
}

.field {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 150px;
}
/* #Enviar{
  width: 10vh;
  background-color: #a6a6a6;

} */
button {
  width: 100px;
  height: 45px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: black;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #79C44F;
  z-index: -1;
  transition: all 0.5s;
 }
 
 button:hover::before {
  width: 100%;
 }
 
 button:hover {
  color: black;
 }
 
 button:active:before {
  background: #b9b9b9;
 }
/* grids all */

.container {
  display: grid;
  background-color: #333438;
  grid-gap: 2px 2px;
  grid-template: 700px/ auto;
  grid-template-areas:
    "a2 a2 a2 a2 a2";
}

:root {
  --var-color: #f2f1ec;
  --var-color2: black;
}

.r1 {
  grid-area: a1;
  color: b;
  background-color: var(--var-color);
}

.r2 {
  grid-area: a2;
  background-color: var(--var-color);
}

/* end */

.end {
  color: #f2f2f2;
  background-color: #365b6d;
  padding: 50px;
  text-align: center;
}

