html, body {
  position:relative;
  overflow-x:hidden;
}

body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Axiforma";
  src: url("../Axiforma/Axiforma-Regular.otf") format("opentype");
}

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Axiforma";
}

/* cabeçalho */
.sob:visited {
  color: #79C44F;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
 
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-color: transparent;
  height: 20vh;
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 50px;
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}
/* grid 1*/
.textos_sobre{

  position: absolute;
  margin-top: 95px;
  margin-left: 51%;
}

.sobre_titulo{
  font-size: 2.5rem;
}

.motivos_avi{
 width: 600px;
  text-align: left;
  
}
.luxury_houseft{
  /* border: solid 2px #79C44F; */
  border-radius: 10px;
  width: 500px;
  margin-top: 20px;
  margin-left: 5%;
}

/* grids */

.container {
  display: grid;
  background-color: #333438;
  grid-gap: 0px;
  grid-template: 695px   / auto;
  grid-template-areas:
    "a1 a1 a1 a1 a1 a1"
    ;
}

:root {
  --var-color: #f2f1ec;
  --var-color2: black;
}

.r1 {

  /* box-shadow: inset 0px 0px 0px 600px rgba(51, 16, 16, 0.0);
  background-image: url('../fotos/salabk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center; */
  grid-area: a1;
  color: black;
  background-color: rgb(214, 214, 214);

}

.r2 {
  display: none;
  grid-area: a2;
  color: --var-color2;
  background-color: var(--var-color);
}

.r3 {  display: none;

  grid-area: a3;
  color: --var-color2;
  background-color: var(--var-color);
}

.r4 {  display: none;

  grid-area: a4;
  color: --var-color2;
  background-color: var(--var-color);
}

/* end */

.end {
  color: #f2f2f2;
  background-color: #365b6d;
  padding: 50px;
  text-align: center;
}

#copyright{
  font-size: 13px;
}
