html, body {
  position:relative;
  overflow-x:hidden;
}

body{
  overflow-x: hidden;
  -webkit-overflow-x: hidden;

}
html {
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: "Axiforma";
    src: url("../Axiforma/Axiforma-Regular.otf") format("opentype");
  }
  
  body,
  ul,
  li,
  p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: "Axiforma";
  }
  
  /* Cabeçalho */
  
  a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: transparent;
    height: 20vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 50px;
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }
  
  /* side icons */
  /* .iconsSide {
    margin-top: 1190px;
    display: block;
    margin-left: 100px;
    position: absolute;
  }
  
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    color: black;
    background-color: #f2f2f2;
  }
  
  .fa-facebook {
    margin-left: 0px;
    border-radius: 100px;
    background: #3b5998;
    color: white;
  }
  
  .fa-instagram {
    margin-left: 5px;
    border-radius: 100px;
    background-color: #e1306c;
    color: white;
  } */
  
  /* Beneficios Energia Solar grid 1 */
  .retangulo_pesquisa{
    background-color: #5A7B0C;
    border-radius: 30px;
    border:solid 1px #5A7B0C;
    margin-top: 440px;
    margin-left: 25%;
    height: 60px;
    width: 600px;
    position: absolute;
    z-index: 1;

  }
  .retangulo_texto{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
  }
  .retangulo_links{
    color: #f2f2f2;
    margin-left: 25px;
  }
  .retangulo_logo{
    position: absolute;
    margin-top: 5px;
    margin-left: 82%;
  }
  .obra_perfeita {
    margin-top: 120px;
    margin-left: 5%;
    max-width: 400px;
    text-align: left;
    font-size: 3rem;
  }
  #obra_verde{
    color: #5A7B0C;
  }  
  .imagem_informativo {
    position: absolute;
    margin-top: 100px;
    margin-left: 40.5%;
  }
  .textos_grid1{
    margin-left: 2.5%;
  
  }
  .escolha_solar{
    margin-top: 7vh;
    margin-left: 48.5%;
    text-align: left;
    width: 500px;
    position: absolute;
  }
      /* Grid 2*/
      .foco_todos{
        
        margin-left: 40%;
      }
      .foco_principal{
        margin-top: 32px;
        margin-left: 8px;
        font-size: 1.9rem;
        position: absolute;
        z-index: 1;
      }
      .foco{
       color: #B7E448;
        font-size: 5rem;
      }
      /* Quadrados */
.quadrados_todos{
  margin-top: 100px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}
.quadrado_informativos{
  box-shadow: 5px 5px 10px ;
  height: 300px;
  width: 200px;
}
.reformas_txt{
  margin-top: 150px;
margin-left: 55px;

}
.house_obraft{
  position: absolute;

  margin-top: 40px;
  margin-left: 60px;
}
.span_reformastxt{
  width: 150px;
  font-size: 16px;
  margin-left: 25px;
  text-align: center;
}
.casa_txt{
  margin-top: 150px;
  margin-left: 75px;

}
.imagem80px{
  position: absolute;

  margin-top: 40px;
  margin-left: 60px;
}
.span_casatxt{
  width: 170px;
  font-size: 16px;
  margin-left: 15px;
  text-align: center;
}
.tech_txt{
  margin-top: 150px;
  margin-left: 50px;

}
.tech_ft{
  position: absolute;

  margin-top: 40px;
  margin-left: 60px;
}
.span_tech{
  font-size: 16px;
  margin-left: 0px;
  text-align: center;
}
  /* Grid 3*/
  .textos_deorçamento{ 
      text-align: center;
      
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 250px;
  }
  
  .grid3_orçamento {
    width: 500px;
    font-size: 2rem;
    padding: 5px;
   
  }
  .grid3_orçamento2{
    width: 500px;
    text-align: center;
    font-size: 2rem;
    background-color: #00A0CB;
    padding: 5px;
    border-radius: 10px;
    color: white;
    opacity: 0.8;
  
  }
  .orçamento_wpp{
    
     text-decoration: none;
  }
  .grid3_orçamento2:hover{
    color: #B7E448;
  }


  /* Quem somos nós */
  .titulo_grid4 {
    margin-top: 80px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    
  }
  .AVI_quemsomos{
    width: auto;
    color: #5C5C5C;
    font-size: 1.1rem;
    margin-top: 100px;
    margin-left: 6%;
    text-align: left;
  }
  
  
  .C1 {
    width: 17%;
    height: 200px;
    border: 2px solid black;
    margin-top: 100px;
    margin-left: 35%;
  }
  
  
  
  /* grid 5 */
  
  .realizamos_vendas {
    /* font-size: 1.5rem; */
    color: #5C5C5C;
    width: 400px;
    margin-left: 55%;
    position: absolute;
    margin-top: 100px;
  }
 
 
 
  
  /* grid 6 */
  .textoe_video{
      margin-top: 100px;
      display: flex;
      justify-content: center;
  }
 
  
  .video_assista {
    margin-top: 50px;
    width: auto;
    margin-left:25%;
    font-size: 1.3rem;
    color: #5C5C5C;
  }
  
  .square3 {
    border: 2px solid #a7a7a9;
    border-radius: 5px;
    position: absolute;
    width: 300px;
    height: 10px;
    margin-top: 80px;
  }
  

  
  
  /* flexbox */
  
  .container {
    display: grid;
    background-color: #f2f1ec;
    grid-gap: 0px;
    grid-template: 839px 800px  700px / auto auto auto auto;
    grid-template-areas:
      
      "a1 a1 a1 a1 a1"
      "a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3";
  }
  
  :root {
    --var-color: #f2f1ec;
    --var-color-3: #030303;
    --var-color-2: #03989e;
  }
  
  .r1 {
    grid-area: a1;
    background-color: #EDEDED;
    /* box-shadow: inset 0px 0px 0px 600px rgba(0, 0, 0, .0);
    background-image: url('../fotos/green_housebk.png');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
    background-position-x: center; */
  }
  .r2{
    grid-area: a2;
    background-color: #EDEDED;
       box-shadow: inset 0px 0px 0px 600px rgba(0, 0, 0, .0);
    background-image: url('../fotos/waves_grid2.png');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
    background-position-x: center;
  }
  
  .r3 {
    grid-area: a3;
    background-color: #EDEDED;
    box-shadow: inset 0px 0px 0px 600px rgba(0, 0, 0, .0);
    background-image: url('../fotos/sea_view.jpeg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:cover;
    background-position-x: center;
 
  }
  
  .r4 {
    display: none;
    grid-area: a4;
    background-color: var(--var-color);
  }
  
  .r6{
    display: none;
    grid-area: a6;

  }
  
  /* end */
  
  .end {
    color: #f2f2f2;
    background-color: #365b6d;
    padding: 50px;
    text-align: center;
  }
  
  #copyright{
    font-size: 13px;
  }
  