/* IPHONE XR */
@media only screen and  (max-width: 414px) {
    .container {
        display: grid;
        background-color: #333438;
        grid-gap: 2px 2px;
        grid-template: 915px/ auto;
        grid-template-areas:
          "a2 a2 a2 a2 a2";
      }
    .formCo{
        max-width: 300px;
        margin-left: 10%;
    }
  
   
    }
    /* S20 ULTRA */
    @media only screen and  (max-width: 412px) {
    
    
    }
    /* PIXEL 5 */
      @media only screen and  (max-width: 393px) {
        
      }
    
    /* IPHONE 12 PRO */
    @media only screen and  (max-width: 390px) {
    
    }
    
    /* IPHONE SE */
      @media only screen and  (max-width: 375px) {
          .formCo{
              max-width: 300px;
              margin-left: 10%;
          }
        
      
      }
      /* S8 */
        @media only screen and  (max-width: 360px) {
            .formCo{
                margin-left: 5%;
            }
        .instruçãoC{
            margin-left: 6%;
        }
        }
        /* GALAXY FOLD */
        @media only screen and  (max-width: 280px) {
            .container {
                display: grid;
                background-color: #333438;
                grid-gap: 2px 2px;
                grid-template: 700px/ auto;
                grid-template-areas:
                  "a2 a2 a2 a2 a2";
              }
            .formCo{
                margin-top: 150px;
                max-width: 250px;
                margin-left: 5%;
            }
        }
    
    
      