body{
  overflow-x: hidden;
  -webkit-overflow-x: hidden;

}
@media only screen and  (max-width: 1920px) {
  .imagem_informativo{
    margin-left: 59%;
    transition: ease all .5s;
  
  }
  .textos_deorçamento{
  
    margin-top: 250px;
    
  }
}

@media only screen and  (max-width: 1366px) {
  .imagem_informativo{
    margin-left: 40.5%;
    transition: ease all .5s;
  
  }
  .textos_deorçamento{
  
    margin-top: 250px;
    
  }
 
 
}

@media only screen and  (max-width: 1135px) {
  .container {
    display: grid;
    background-color: #f2f1ec;
    grid-gap: 0px;
    grid-template: 850px 700px 600px  / auto auto auto ;
    grid-template-areas:
      
      
    "a1 a1 a1 a1 a1"
    "a2 a2 a2 a2 a2"
    "a3 a3 a3 a3 a3";
  }
  .r6{
    display: none;
  }
/* Grid 1 Beneficios Solar */

.textos_grid1{
  margin-left: -5%;
  transition: ease all .5s;

}
.imagem_informativo{
  margin-left: 40%;
  transition: ease all .5s;

}
  /* Grid 3 Quem Somos */
  .titulo_grid4{
    margin-top: 100px;
  }
  .AVI_quemsomos{
    margin-top: 150px;
    margin-left: 2%;
    transition: ease all .5s;

  }

}
@media only screen and  (max-width: 1010px) {
 
}




/* Segunda media */
@media only screen and  (max-width: 970px) {
  .container {
    display: grid;
    background-color: #f2f1ec;
    grid-gap: 0px;
    grid-template: 800px 800px  550px / auto auto auto auto;
    grid-template-areas:
      
      "a1 a1 a1 a1 a1"
      "a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3";
  }
.obra_perfeita{
  font-size: 2.3rem;
  margin-left: 10%;
  z-index: 10;
  position: absolute;
  transition: ease all .5s;

}
.imagem_informativo{
  width: 580px;
  margin-left: 39%;
  transition: ease all .5s;
z-index: 0;
}

}
@media only screen and  (max-width: 880px) {
  .obra_perfeita{
    font-size: 2.0rem;
    margin-left: 10%;
    z-index: 10;
    position: absolute;
    transition: ease all .5s;
  
  }
  .imagem_informativo{
    width: 500px;
    margin-left: 42%;
    transition: ease all .5s;
  z-index: 0;
  }
  .foco_todos{
    margin-left: 37%;
    transition: ease all .5s;

    }
}

@media only screen and  (max-width: 850px) {
  .retangulo_pesquisa{
    margin-left: 15%;
    transition: ease all .5s;

  }
  .foco_todos{
    margin-left: 35%;
    transition: ease all .5s;

    }
}

@media only screen and  (max-width: 840px) {
  .obra_perfeita{
    font-size: 2.0rem;
    margin-left: 10%;
    z-index: 10;
    position: absolute;
    transition: ease all .5s;
  
  }
  .imagem_informativo{

  margin-left: 39%;
  transition: ease all .5s;

  }

}
@media only screen and  (max-width: 800px) {

.foco_todos{
margin-left: 33%;
transition: ease all .5s;

}
 }
/* Terceira media */
@media only screen and  (max-width: 770px) {
  .obra_perfeita{
    font-size: 2.0rem;
    margin-left: 10%;
    z-index: 10;
    position: absolute;
    transition: ease all .5s;
  
  }
  .imagem_informativo{
width: 400px;
  margin-left: 47%;
  transition: ease all .5s;

  }
 

 
}
@media only screen and  (max-width: 750px) {
  .retangulo_pesquisa{
    margin-left: 10%;
    transition: ease all .5s;

  }
}
@media only screen and  (max-width: 705px) {
  .retangulo_pesquisa{
    margin-left: 5%;
    transition: ease all .5s;

  }
}
@media only screen and  (max-width: 680px) {
  .obra_perfeita{
    font-size: 2.0rem;
    margin-left: 10%;
    z-index: 10;
    position: absolute;
    transition: ease all .5s;
  
  }
  .imagem_informativo{
width: 350px;
  margin-left: 47%;
  transition: ease all .5s;

  }
  .logo_50px{
    margin-left: 25px;
  }
  .retangulo_pesquisa{
    width: 500px;
    margin-left: 15%;
    transition: ease all .5s;

  }
}
@media only screen and  (max-width: 675px) {
   
}
@media only screen and  (max-width: 650px) {
  .retangulo_pesquisa{
    width: 480px;
    margin-left: 10%;
    transition: ease all .5s;

  }
  .logo_50px{
    margin-left: 30px;
  }
}
@media only screen and  (max-width: 645px) {

 .obra_perfeita{
  font-size: 2.0rem;
  margin-left: 10%;
  z-index: 10;
  position: absolute;
  transition: ease all .5s;

}
.imagem_informativo{
width: 300px;
margin-left: 52%;
transition: ease all .5s;

}
  
}
@media only screen and  (max-width: 630px) {
 
 
}
@media only screen and  (max-width: 616px) {
  .container {
    display: grid;
    background-color: black;
    grid-gap: 0px;
    grid-template: 800px 1300px  550px / auto auto auto auto;
    grid-template-areas:
      
      "a1 a1 a1 a1 a1"
      "a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3";
  }
  .quadrados_todos{
    flex-direction:column;
    margin-top: 10px;
  
}
.foco_todos{
  margin-left: 28%;
  transition: ease all .5s;

  }
}
@media only screen and  (max-width: 590px) {
  
  .foco_todos{
    margin-left: 26%;
    transition: ease all .5s;

    }

}

@media only screen and  (max-width: 580px) {
 
  .obra_perfeita{
    font-size: 1.8rem;
    margin-left: 10%;
    z-index: 10;
    position: absolute;
    transition: ease all .5s;
  
  }
  .imagem_informativo{
  width: 300px;
  margin-left: 50%;
  transition: ease all .5s;
  
  }
    .retangulo_pesquisa{
      width: 480px;
      margin-left: 3%;
      transition: ease all .5s;
  
    }
    .logo_50px{
      margin-left: 30px;
    }
    .grid3_orçamento2{
      width: 480px;
    }
  
}
@media only screen and  (max-width: 560px) {
  /* Grid 2 */
  .obra_perfeita{
    font-size: 1.8rem;
    margin-left: 10%;
    z-index: 10;
    position: absolute;
    transition: ease all .5s;
  
  }
  .imagem_informativo{
    width: 250px;
    margin-left: 53%;
    transition: ease all .5s;
    
    }
}

@media only screen and  (max-width: 545px) {
  /* Grid 1 */
  .escolha_solar{
    margin-left: 52%;
    max-width: 450px;
  }
  /* Grid 2 */
  .foco_todos{
    margin-left: 24%;
    transition: ease all .5s;
  
    }
      .retangulo_pesquisa{
        width: 470px;
        margin-left: 2%;
        transition: ease all .5s;
    
      }
      .retangulo_texto{
      margin-left: 7px;    
  }
      .logo_50px{
        display: none;
      }
    

 
  



}



/* NAV MEDIA */
@media only screen and  (max-width: 1035px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 70vh;
    background: #d2d2d2;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
}
 }

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
