@media only screen and  (max-width: 1920px) {
  .container {
    display: grid;
    background-color: #333438;
    grid-gap: 0px;
    grid-template: 1080px   / auto;
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1"
      ;
  }
  .textos_sobre{ 
    margin-top: 260px;
  }
  .luxury_houseft{
    width: 700px;

    margin-top: 150px;
  }
}

@media only screen and  (max-width: 1536px) {
  .container {
    display: grid;
    background-color: #333438;
    grid-gap: 0px;
    grid-template: 700px   / auto;
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1"
      ;
  }
  .textos_sobre{ 
    margin-top: 95px;
  }
  .luxury_houseft{
    width: 500px;

    margin-top: 70px;
  }
}

@media only screen and  (max-width: 1150px) {
  .sobre_titulo{
    font-size: 1.5rem;
    transition: ease all .5s;

  }
  .textos_sobre{
    font-size: 1rem;
    margin-left: 52%;
    transition: ease all .5s;

  }
}
@media only screen and  (max-width: 1110px) {
  .luxury_houseft{
    width: 450px;
    margin-left: 3%;
    transition: ease all .5s;

  }
 .textos_sobre{
    font-size: 1rem;
    margin-left: 49%;
    transition: ease all .5s;

  }

  
}
@media only screen and  (max-width: 1040px){
  .container {
    display: grid;
    background-color: #333438;
    grid-gap: 0px;
    grid-template: 740px   / auto;
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1"
      ;
  }

}

@media only screen and  (max-width: 1030px) {
  .luxury_houseft{
    width: 400px;
    margin-top: 100px;
    margin-left: 3%;
    transition: ease all .5s;

  }
 .textos_sobre{
    font-size: 1rem;
    margin-left: 46%;
    transition: ease all .5s;

  }
}
@media only screen and  (max-width: 1020px) {
 
}
  @media only screen and  (max-width: 960px) {
    .luxury_houseft{
      width: 350px;
      margin-top: 110px;
      margin-left: 3%;
      transition: ease all .5s;
  
    }
   .textos_sobre{
      font-size: 1rem;
      margin-left: 43%;
      transition: ease all .5s;
  
    }
}
@media only screen and  (max-width: 915px) {
  .luxury_houseft{
    display: none;
    width: 350px;
    margin-top: 110px;
    margin-left: 3%;
    transition: ease all .5s;

  }
 .textos_sobre{
    font-size: 1rem;
    margin-left: 25%;
    transition: ease all .5s;

  }
}

/* Grid 1 */
@media only screen and  (max-width: 890px) {


}
@media only screen and  (max-width: 845px) {

}

@media only screen and  (max-width: 758px) {
  
}
@media only screen and  (max-width: 750px) {
  

}
@media only screen and  (max-width: 710px) {
  .textos_sobre{
    font-size: 1rem;
    margin-left: 18%;
    transition: ease all .5s;

  }
}
@media only screen and  (max-width: 700px) {

}

@media only screen and  (max-width: 690px) {
 
}
@media only screen and  (max-width: 650px) {
  .textos_sobre{
    font-size: 1rem;
    margin-left: 14%;
    transition: ease all .5s;

  }
 
}
@media only screen and  (max-width: 610px) {
  .textos_sobre{
    font-size: 1rem;
    margin-left: 17%;
    transition: ease all .5s;

  }
  .motivos_avi{
    width: 350px;
  }
}
@media only screen and  (max-width: 575px) {
  
 
}
@media only screen and  (max-width: 568px) {

}

@media only screen and  (max-width: 520px) {

}




/* media */
@media only screen and  (max-width: 800px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 10vh;
      right: 0;
      width: 50vw;
      height: 70vh;
      background: #d2d2d2;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 1;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
  
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
